astroid
attrs
certifi
chardet
click
coverage
Flask
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mysqlclient
pluggy
py
pylint
pytest
pytest-cov
requests
six
SQLAlchemy
urllib3
Werkzeug==0.16.1
wrapt
WTForms
passlib
flask_httpauth
flask_cors